.vs\
.vs\**
.vs
**\.vs\**
**\.ilk
**\.pdb
**\.idb
**\.tlog
**\.suo
**\.ipch
**\.IPCH
**\.icph
**\*.obj
**\*.db
**\*.cvd
**/*.db
**/*.cvd
*.db
*.cvd
**/*.tlog
*.tlog
LAVA/.vs/LAVA/v16/.suo
LAVA/.vs/LAVA/v16/.suo
*.db
*.ipch
LAVA/x64/Debug/db/bytecode.cvd
LAVA/x64/Debug/db/daily.cvd
LAVA/x64/Debug/db/main.cvd
LAVA/x64/Debug/LAVA.exe
LAVA/x64/Debug/LAVA.pdb
LAVA/x64/Debug/main.obj
LAVA/x64/Debug/
LAVA/.vs/LAVA/v16/Browse.VC.db
LAVA/.vs/**
LAVA/.vs/
LAVA/.vs/*